<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choose your game</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <link rel="stylesheet" type="text/css" href="/style/style-index.css">
  <style>
  </style>
</head>
<body>
  <div class="container">
    <h1>Choose your game</h1>
    <div class="button-container">
      <button class="game-button" onclick="window.location.href='/tictactoe'">
        <img src="/favicon.ico" alt="Tic Tac Toe">
        <span class="tic">Tic</span>
        <span class="tac">Tac</span>
        <span class="toe">Toe</span>
      </button>
      <button class="game-button" onclick="window.location.href='/rpsls'">
        <span>Rock Paper Scissors Lizard Spock</span>
      </button>
    </div>
  </div>
</body>
</html>