<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock Paper Scissors Lizard Spock</title>
  <link rel="icon" href="/favicon-rpsls.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <link rel="stylesheet" type="text/css" href="/style/style-rpsls.css">
</head>
<body>
  <div id="main-container" class="container">
    <h1>Rock Paper Scissors Lizard Spock</h1>

    <div id="difficulty-container" class="hidden">
      <label for="difficulty">Choose difficulty:</label>
      <select id="mode">
        <option value="0">Single Player</option>
        <option value="1">Multiplayer</option>
      </select>
      <select id="multiplayer" class="hidden">
        <option value="0">Classic</option>
        <option value="1">Pass and Play</option>
      </select>
      <button id="start-game">Start Game</button>
    </div>
    <div id="token-container" class="hidden">
      <div id="invitation-container">
      </div>
    </div>
    <div id="board-container" class="hidden">
      <h2>Please select one of the buttons to choose your move in Rock Paper Scissors Lizard Spock</h2>
      <h3 id="game-info" class="tooltip">How to Play
        <span class="tooltiptext">
          Scissors cuts Paper, Paper covers Rock, Rock crushes Lizard, Lizard poisons Spock, Spock smashes Scissors, Scissors decapitates Lizard, Lizard eats Paper, Paper disproves Spock, Spock vaporizes Rock, Rock crushes Scissors.
          <br><br>
          For more information, visit <a href="http://www.samkass.com/theories/RPSSL.html" target="_blank">Sam Kass' website</a>. This game is based on his idea, but it is not endorsed by him.
        </span>
      </h3>
      <div id="button-container" class="button-container">
        <div>
          <button class="game-button" value="rock">
            <img src="/svg/rock.svg" alt="Rock">
          </button>
          <h2 class="game-text">Rock</h2>
        </div>
        <div>
          <button class="game-button" value="paper">
            <img src="/svg/paper.svg" alt="Paper">
          </button>
          <h2 class="game-text">Paper</h2>
        </div>
        <div>
          <button class="game-button" value="scissors">
            <img src="/svg/scissors.svg" alt="Scissors">
          </button>
          <h2 class="game-text">Scissors</h2>
        </div>
        <div>
          <button class="game-button" value="lizard">
            <img src="/svg/lizard.svg" alt="Lizard">
          </button>
          <h2 class="game-text">Lizard</h2>
        </div>
        <div>
          <button class="game-button" value="spock">
            <img src="/svg/spock.svg" alt="Spock">
          </button>
          <h2 class="game-text">Spock</h2>
        </div>
      </div>
    </div>

    <div id="end-game-container" class="hidden">
      <p id="result-message"></p>
      <button id="restart-game">Play Again</button>
    </div>
    <div class="button-container">
      <button id="go-home-button">Go to Home</button>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const link = "<%= link %>";
  </script>
  <script src="/script/script-rpsls.js"></script>
</body>
</html>