body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background.png');
  background-repeat: repeat;
  background-position: top left;
  filter: blur(8px);
  z-index: -1;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  box-shadow: 0 0 60px 100px rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-size: 2em;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  transition: background-color 0.5s ease;
  border-collapse: collapse;
}

.cell.tl {
  border-top-left-radius: 10px;
}

.cell.tr {
  border-top-right-radius: 10px;
}

.cell.bl {
  border-bottom-left-radius: 10px;
}

.cell.br {
  border-bottom-right-radius: 10px;
}

.cell.x {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cline x1='10' y1='10' x2='90' y2='90' stroke='%23000' stroke-width='10' stroke-linecap='round'/%3e%3cline x1='10' y1='90' x2='90' y2='10' stroke='%23000' stroke-width='10' stroke-linecap='round'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-color: rgb(255, 0, 0, 0.5);
  transition: background-color 0.5s ease;
}

.cell.o {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ccircle cx='50' cy='50' r='40' fill='none' stroke='%23000' stroke-width='10'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-color: rgb(0, 0, 255, 0.5);
  transition: background-color 0.5s ease;
}

.gridline {
  position: absolute;
  background-color: black;
  z-index: 1;
}

.gridline.horizontal {
  width: 100%;
  height: 5px;
}

.gridline.vertical {
  height: 100%;
  width: 5px;
}

.gridline.horizontal#line1 {
  top: 32.25%;
}

.gridline.horizontal#line2 {
  top: 66.15%;
}

.gridline.vertical#line3 {
  left: 32.25%;
}

.gridline.vertical#line4 {
  left: 66.15%;
}

.hidden {
  display: none !important;
}

#end-game-container {
  margin-top: 20px;
  text-align: center;
}

#invitation-code {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 5px;
}

#invitation-description {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#invitation-code:hover #invitation-description {
  display: block;
}

#token-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#line {
  position: absolute;
  height: 4px;
  background-color: lightgray;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  border-radius: 2px;
  z-index: 2;
}

select {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
}

select:focus {
  outline: none;
}

button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
}

button:focus {
  outline: none;
}

p {
  font-size: 20px;
}

label {
  font-size: 20px;
}

input {
  font-family:'Times New Roman', Times, serif;
  font-size: 17px;
  border: 1px solid gray;
  border-radius: 4px;
}

input:focus {
  outline: none;
}